* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@import url("https://fonts.googleapis.com/css?family=Lato");


body {
  padding: 20px;
  text-align: left;
  font-family: Lato;
  color: #fff;
  background: #9b59b6;
}


h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}


h1 span {
  font-size: 13px;
  display: block;
}


.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
}


.tabs li {
  float: left;
  display: block;
}


.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}


.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #8e44ad;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.tabs label:hover {
  background: #703688;
}


.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #612e76;
}


.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #612e76;
}


.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}


p.link {
  clear: both;
  margin: 380px 0 0 15px;
}


p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


p.link a:hover {
  background-color: #522764;
}


p {
  margin-block: 1rem;
}


p,
h1,
h2,
h3,
h4 {
  padding-inline: 1rem;
  line-height: 1.6;
}


body {
  background-image: url('Images/Home.png');
 
  /* Full height */
  height: 100%;
 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
  grid-area: header;
  background-image: url(../images/trees.webp);
  background-size: cover;
  height: 50svh;
  display: grid;
  place-content: center;
  text-align: center;
}


main {
  width: min(100% - 4rem, 100ch);
  margin-inline: auto;
  grid-area: main;
}


footer {
  background-color:black;
  color:white;
  grid-area: foot;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  height: 11%;
  margin-left: -20px;
}

.sticky-nav{
  margin-left: -10px;
}

.footer .footer-info {
  text-align: center;
  /* Add styles for footer info if needed */
}

.footer-info p {
  display: inline-flex; /* Display paragraphs inline */
  margin-right: 20px; /* Add some space between paragraphs */
}

.sticky-nav {
  background-color: #040a05ed;  /* Change this to your desired background color */
  margin: -20px -16px;
}
/* .container {
  display: flex;
  justify-content: right;
  align-items: right;
} */
nav {
  grid-area: nav;
  position: sticky;
  top: 0;
}


nav a {
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 1rem;
  display: block;
  text-align: center;
}


nav a:hover {
  background-color: darkgreen;
  color: white;
}


nav ul {
  display: flex;
}




#hamburgerCheck,
.hamburger {
  display: none;
}


@media (max-width: 900px) {
  nav ul {
    flex-direction: column;
    position: fixed;
    top: 37px;
    left: -100vw;
    width: 100vw;
    z-index: 220;
    transition: left 300ms ease-in;
    background-color: #040a05ed  /* Change this to your desired background color */

  }


  #hamburgerCheck:checked ~ ul {
    left: 0;
  }

  .facetitle-container {
    margin-top: 60px;
  }
  .hamburger {
    display: block;
    font-size: 24px;
    background-color:#040a05ed  /* Change this to your desired background color */    ;
    position: fixed;
    top: 0;
    padding-left: 10px;
    margin-left: -5px;
    width: 100%;
    height: 6%;
    z-index: 20; /* Ensure hamburger button is on top of the menu */
  }
}
.nav-links li {
  list-style: none;
  /* width: 30%; */
}


.nav-links li a {
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center items */
  text-decoration: none;
  color: White;
  padding: 1rem;
}


.nav-links li a i {
  margin-right: 0.5rem; /* Add margin between icon and text */
}
.logo-image {
  height: 1.3rem;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  margin-right: auto;
}
.large-text {
  display: block;
  font-size: 80px; /* Display as block elements */
}


.large-text:nth-child(2) {
  margin-top: -1em; /* Adjust the margin to control the spacing between lines */
}
.home-section{
  float: left;
  position: relative;
  top: 100px;
  z-index: -1;
}
.explore-btn {
  margin-top: 15%;
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: rgb(123, 234, 123);
  color: black;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  text-decoration: none;
  border-radius: 13px; /* Adjust border radius for rounded corners */
  text-align: center;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /* Dark black margin */
}


.explore-btn:hover {
  background-color: darkgreen; /* Change background color on hover */
  color: white; /* Change text color on hover */
}
.book-btn1:hover {
  background-color: darkgreen; /* Change background color on hover */
  color: white;
}
.book-btn2:hover {
  background-color: darkgreen; /* Change background color on hover */
  color: white;
}


.home-section {
  display: none;
}
.animals-section  {
  display: none;
}
.activity-section {
  display: none;
}
.map-section {
  display: none;
}
.donation-section {
  display: none;
}
.animals-section2 {
  display: none;
}

.home-section:target {
  display: block;
}
.animals-section:target {
  display: block;
  background-color: white;
  height: 80vh;
}
.animals-section2:target {
  display: block;
  background-color: white;
  height: 80vh;
}

.book-btn1 {
  width: auto;
  height: auto;
  margin-left: 4rem;
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: rgb(123, 234, 123);
  color: black;
  font-size: 10px; /* Adjust font size as needed */
  font-weight: bold;
  text-decoration: none;
  border-radius: 13px; /* Adjust border radius for rounded corners */
  text-align: center;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); /* Dark black margin */
}

.activity-section:target {
  display: block;
  background-color: white;
  height: 60%;
  width: 100vw;
  margin: -20px;
}
.map-section:target {
  display: block;
  margin: 55px;
}
.donation-section:target {
  display: block;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  /* background-color: #e7c9a9; */
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donation-section-container {
  display: flex;
  justify-content:space-between;
}
.donation-img {
  height: 20rem;
  margin-top: 10%;
}
.donation-card {
  background-color: #fff;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-top: 5%;
}
.donation-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(79, 83, 73);
}
.choose-amount {
  color: black;
  font-size: 10px;
  margin: 2%;
}
.amount-buttons {
  display: flex;
  flex-wrap: wrap; /* Wrap buttons to the next line if necessary */
  justify-content: space-between;
  margin-bottom: 20px;
}
.amount-button {
    flex-basis: calc(20% - 10px); /* Adjust button width */
    margin-bottom: 10px; /* Adjust button margin */
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #d5d5d2a8;
    color: #000000;
    cursor: pointer;
}
.donate-button {
  display: block;
  width: 15%;
  margin-left: 42%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.card-content {
  padding: 20px;
  overflow-y: auto;
  height: 62vh; /* Adjust as needed */
}


.tab-container {
  display: flex;
}


.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}


.tab:hover {
  background-color: #e0e0e0;
}


.tab:focus {
  outline: none;
}

.container-act {
  width: 100%;
}


.tab:not(:last-child) {
  border-right: 1px solid #ccc;
}
.tab-content {
  display: none;
}



.custom-activity-tile {
  display: flex;
}

.custom-activity-tile img {
  width: 200px; /* Adjust image width as needed */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.custom-description {
  width: calc(100% - 180px); /* Calculate description width based on image width */
  padding-left: 20px; /* Add some space between image and description */
  color: black;
}


.tab-content:target {
  display: block;
}

.title-activity-page {
  color: darkgreen;
  font-size: 200%;
  margin: 0px;
  font-weight: bold;
  padding: initial;
  text-decoration: underline; /* Add underline to the text */

}

#map-container {
  text-align: center;
  position: relative;
}

.get-directions {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 20px 0 0 0;
  background-color: rgb(123, 234, 123);
  color: black;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  text-decoration: none;
  border-radius: 13px; /* Adjust border radius for rounded corners */
  text-align: center;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /* Dark black margin */
}

.get-directions:hover {
  background-color: darkgreen;
}

.image-wrapper {
  width: 300px; /* Adjust image wrapper width for desktop view */
}

.custom-tile {
  background-color: #ccc; /* Gray background color */
  padding: 1%; /* Add some padding around the tile */
  border-radius: 15px;
  margin: 5px;
}

.image-wrapper img {
  width: 100%; /* Make image fill its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 15px;
}
#contact-details {
  background-color: #d0f0c0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  height: auto;
  width: 55%;
  text-align: center; /* Align center */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  border: 5px solid black; /* 5px solid black border */
  color: darkgreen; /* Dark green font color */
}
#address {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .custom-activity-title {
    color: darkgreen;
    font-weight: bold;
    font-size: 120%
  }
  
  .donation-section:target {
    height: 90vh;
    display: block;

  }
  .custom-description-text {
    font-size: 48px; /* Adjust font size as needed */
    padding-left: 2px;
  }

  .custom-tile {
    background-color: #ccc; /* Gray background color */
    padding: 3%; /* Add some padding around the tile */
    border-radius: 15px;
    margin: 5px;
  }
  .donation-img {
    height: 11rem;
  }
  .donation-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
  }
  .donation-card {
    background-color: #fff;
    width: 85%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-top: 5%;
  }

  .tab-container {
    display: flex;
    margin-top: 40px;
  }
  .donation-header {
    margin: 2%;
    font-size: 20%;
  }
  .choose-amount {
    color: black;
    font-size: 10px;
    margin: 2%;
  }
  .amount-buttons {
    display: flex;
    flex-wrap: wrap; /* Wrap buttons to the next line if necessary */
    justify-content: space-between;
    margin-bottom: auto;
  }
  .donate-button {
    display: block;
    width: 40%;
    margin-left: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .description p {
    font-size: 5%; /* Set a font size for the paragraph */
    line-height: 1.5; /* Set line height for better readability */
    margin-bottom: 20px; /* Add some space between paragraphs */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
    display: -webkit-box; /* Set as a block element with multiple lines */
    -webkit-line-clamp: 3; /* Limit the number of lines to 3 */
    -webkit-box-orient: vertical; /* Set the orientation as vertical */
  }

  .large-text {
    display: block;
    font-size: 50px; /* Display as block elements */
  }
  
  
  .large-text:nth-child(2) {
    margin-top: -1em; /* Adjust the margin to control the spacing between lines */
  }
  .book-btn1 {
    width: auto;
    height: auto;
    margin-left: 4rem;
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: rgb(123, 234, 123);
    color: black;
    font-size: 10px; /* Adjust font size as needed */
    font-weight: bold;
    text-decoration: none;
    border-radius: 13px; /* Adjust border radius for rounded corners */
    text-align: center;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); /* Dark black margin */
  }
  .activity-title p {
    text-overflow: ellipsis; 
  }
  .card-activity {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  }
  .card-activity-animals {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
  }
  
  .activity-tile img {
    height: 2rem;
  }
  .card-activity-content {
    padding: 0 20px 20px 20px;
    overflow-y: auto;
    height: 94vh; /* Adjust as needed */
  }
  .activity-title {
    margin-left: 1rem;
    color: darkgreen;
  }
  .card-activity-content {
    display: flex;
    flex-direction: column;
  }
  
  .custom-activity-tile {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
  }
  .image-disappear-left {
    display: none;
  }
  .image-disappear-right {
    display: block;
  }

  .custom-activity-tile img {
    width: 100%; /* Make image full width in mobile view */
    max-width: none; /* Remove max-width for mobile view */
    margin-bottom: 10px; /* Add some space between image and description */
  }

  .custom-description {
    width: 100%; /* Make description full width in mobile view */
    padding-left: 0; /* Remove left padding for mobile view */
  }
  
  .activity-tile {
    display: flex;
    align-items: column;
    height: 50%;
    width: 100%;
    border: 1px solid #000;
    margin-top: 12px;
    background-color: rgb(163, 163, 164);
    border-radius: 5px;
    padding: 1rem;
  }
  
  .description {
    left: 20%;
    height: auto;
    width: auto;
  }
  .activity-title {
    color: darkgreen;
    margin-left: 15px;
  }

     #map-container {
        text-align: center;
        width: 80%;       
    }
    
    .get-directions {
        display: inline-block;
        padding: 10px 20px;
        margin: 20px 0 0 0;
        background-color: rgb(123, 234, 123);
        color: black;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 13px;
        text-align: center;
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    }
    
    .get-directions:hover {
        background-color: darkgreen;
    }
    
    #contact-details {
        background-color: #d0f0c0;
        padding: 15px;
        border-radius: 10px;
        margin-top: 20px;
        height: auto;
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid black;
        color: darkgreen;
    }
    
    #address {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .logo {
      display: none; /* Hide the logo on small screens */
    }

    .image-wrapper {
      width: 100%; /* Make image wrapper full width in mobile view */
    }
  
    .image-wrapper img {
      width: 100%; /* Make image fill its container */
      max-width: none; /* Remove max-width for mobile view */
      height: auto; /* Maintain aspect ratio */
    }
    .custom-description-text {
      font-size: 13px; /* Adjust font size as needed */
      padding-left: 2px;
    }
}

@media only screen and (max-width: 768px) {
  .donation-section:target {
    height: 90vh;
    display: block;
  }
  .custom-activity-title {
    color: darkgreen;
    font-weight: bold;
    font-size: 180%
  }
  
  .custom-description-text {
    font-size: 13px; /* Adjust font size as needed */
    padding-left: 2px;
  }
  .custom-tile {
    background-color: #ccc; /* Gray background color */
    padding: 3%; /* Add some padding around the tile */
    border-radius: 15px;
    margin: 5px;
  }
  .donation-img {
    height: 11rem;
  }
  .donation-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
  }
  .tab-container {
    display: flex;
    margin-top: 40px;
  }
  .donation-card {
    background-color: #fff;
    width: 85%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-top: 5%;
  }

  .donation-header {
    margin: 2%;
    font-size: 90%;
  }
  .choose-amount {
    color: black;
    font-size: 10px;
    margin: 2%;
  }
  .amount-buttons {
    display: flex;
    flex-wrap: wrap; /* Wrap buttons to the next line if necessary */
    justify-content: space-between;
    margin-bottom: auto;
  }
  .donate-button {
    display: block;
    width: 20%;
    margin-left: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .description p {
    font-size: 5%; /* Set a font size for the paragraph */
    line-height: 1.5; /* Set line height for better readability */
    margin-bottom: 20px; /* Add some space between paragraphs */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
    display: -webkit-box; /* Set as a block element with multiple lines */
    -webkit-line-clamp: 3; /* Limit the number of lines to 3 */
    -webkit-box-orient: vertical; /* Set the orientation as vertical */
  }
  .activity-title p {
    text-overflow: ellipsis; 
  }
  .card-activity {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  }

  .card-activity-animals {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
  }
  
  .image-wrapper {
    width: 100%; /* Make image wrapper full width in mobile view */
  }

  .image-wrapper img {
    width: 100%; /* Make image fill its container */
    max-width: none; /* Remove max-width for mobile view */
    height: auto; /* Maintain aspect ratio */
  }
  
  .activity-tile img {
    height: 2rem;
  }
  .card-activity-content {
    padding: 0 20px 20px 20px;;
    overflow-y: auto;
    height: 94vh; /* Adjust as needed */
  }
  .activity-title {
    margin-left: 1rem;
    color: darkgreen;
  }
  .card-activity-content {
    display: flex;
    flex-direction: column;
  }
  .book-btn1 {
    width: auto;
    height: auto;
    margin-left: 4rem;
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: rgb(123, 234, 123);
    color: black;
    font-size: 10px; /* Adjust font size as needed */
    font-weight: bold;
    text-decoration: none;
    border-radius: 13px; /* Adjust border radius for rounded corners */
    text-align: center;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); /* Dark black margin */
  }
  
  
  .activity-tile {
    display: flex;
    align-items: column;
    height: unset;
    width: 100%;
    border: 1px solid #000;
    margin-top: 12px;
    background-color: rgb(163, 163, 164);
    border-radius: 5px;
    padding: 1rem;
  }
  
  .description {
    left: 20%;
    height: auto;
    width: auto;
  }
  .activity-title {
    color: darkgreen;
    margin-left: 15px;
  }
  #map-container {
    text-align: center;
}

.get-directions {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    background-color: rgb(123, 234, 123);
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 13px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}
.image-disappear-left {
  display: block;
}
.image-disappear-right {
  display: none;
}
.get-directions:hover {
    background-color: darkgreen;
}

#contact-details {
    background-color: #d0f0c0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: auto;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    color: darkgreen;
}

#address {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
}

@media screen and (min-width: 1024px) {
  .card-activity {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height:100vh;
  }

  .card-activity-animals {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    height:100vh;

  }
  
  .card-activity-content {
    padding: 20px;
    overflow-y: auto;
    height: 86vh; /* Adjust as needed */
  }
  .activity-title {
    margin-left: 1rem;
    color: darkgreen;
  }
  .card-activity-content {
    display: flex;
    flex-direction: column;
  }
  
  .custom-activity-title {
    color: darkgreen;
    font-weight: bold;
    font-size: 270%
  }

  .image-disappear-left {
    display: none;
  }
  .image-disappear-right {
    display: block;
  }
  .book-btn1 {
    width: 200px;
    height: 45px;
    margin-left: 4rem;
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: rgb(123, 234, 123);
    color: black;
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    text-decoration: none;
    border-radius: 13px; /* Adjust border radius for rounded corners */
    text-align: center;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); /* Dark black margin */
    margin-top: 20px
  }
  
  .tab-container {
    display: flex;
    margin-top: 20px;
  }
  
  .activity-tile {
    display: flex;
    align-items: column;
    height: 50%;
    width: 100%;
    border: 1px solid #000;
    margin-top: 12px;
    background-color: rgb(163, 163, 164);
    border-radius: 5px;
    padding: 1rem;
  }
  .image-wrapper {
    width: 500px; /* Adjust image wrapper width for medium screens */
  }
  .description {
    left: 20%;
    height: auto;
    width: auto;
  }
  .activity-title{
    color: darkgreen;
    margin-left: 15px;
  }
  /* .activity-title2 {
    float: right;
    margin-right: 2rem;
    color: darkgreen;
  } */
  #map-container {
    text-align: center;
}

.get-directions {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    background-color: rgb(123, 234, 123);
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 13px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.get-directions:hover {
    background-color: darkgreen;
}

#contact-details {
    background-color: #d0f0c0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: auto;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    color: darkgreen;
}

#address {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
}
.pics-card-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.pics-card-content img {
  width: 100%;
  height: auto;
}

#video-container {
  text-align: center;
  margin-top: 20px; /* Adjust margin top as needed */
}

iframe {
  width: 100%; /* Adjust video width to fit the screen */
  height: 315px; /* Adjust video height as needed */
}